
.navbar {
  height: 120px;
  border-radius: 0;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid black;
  width: 100%;
  background-color: white;

}

.navbar-nav .nav-link {
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  margin-bottom: 15px;
}

.navbar-brand {
background-image: url("http://game-icons.net/icons/lorc/originals/svg/flaming-claw.svg");
height: 50px;
width: 50px;
border-radius: 50%;
margin-top: 5%;
}


.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}


.links {
  color: black;
  text-align: center;
  text-transform: uppercase;
}

#links_container {
  position: absolute;
  margin-left: auto;
  margin-left: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
