
#splash-area {
  overflow: hidden;
  position: relative;
  height: 60vh;
  margin-right: auto;
  margin-left: auto;
  min-height: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
}

h1 span {
  font-size: 40px;
  bottom: 0;
  left: 0;
}

#bgvid {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}


#title {
  position: absolute;
  bottom: 0;
  margin-left:auto;
  margin-right: auto;
  left: 40px;
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 80px;
  color: rgba(255, 255, 255, .9);
  margin-top: 0px;
  text-align: left;
  padding-bottom: 40px;
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s; /* Firefox < 16 */
  -ms-animation: fadein 5s; /* Internet Explorer */
  -o-animation: fadein 5s; /* Opera < 12.1 */
  animation: fadein 5s;
  margin-bottom: 0;
  padding-top: 80px;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.card {
  border: 1px black solid;
  height: 500px;
  min-height: 450px;
  margin-top: 20px;
}

.photo {
  object-fit: cover;
  width: 100%;
  height: 250px;
  margin-bottom: 5%;
  position: relative;
}

#main-wrapper {
  padding-top: 40px;
  border-top: 2px solid black;
}

.card h2 span {
  float: right;
}

.card-info {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  background-color: white;
}


.view-item {
  background-color: black;
  border: none;
  bottom: 20px;
  position: absolute;
}

.view-item:hover {
  background-color: #7F9301;
  border: none;
}
