
.productImage {
  margin-top: 35px;
  width: 35%;
  height: 35%;
}

.productDescriptionGroup {
  margin-top: 35px;
}

.productTitle {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}

.imageAndDescContainer .price {
  font-size: 24px;
}

.productDescriptionPreview {
  text-align: center;
}

.revsDescContainer {
  border-radius: 10px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 25vw;
}

.nav-tabs {
  margin-top: 5px;
  margin-left: 5px;
}

.tab-content {
  margin-left: 15px;
}

.productImage {
  object-fit: cover;
  width: 100%;
  height: 400px;
  position: relative;
}




/**** intentional whitespace ****/
